@model StoreWebUI.Models.StoreVM

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Customer Orders</h2>
    <div>
        @Html.ActionLink("Order By Price", "OrderByPrice", "Store", new {p_StoreID = Model.ID}, new  {@class = "btn btn-light"})
    </div>
     <div>
        @Html.ActionLink("Order By Date", "OrderByDate", "Store", new {p_StoreID = Model.ID} , new {@class = "btn btn-light"})
    </div>
</body>
</html>