@model StoreWebUI.Models.CustomerVM

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h2 style= "bottom: 20px;">Edit Customer</h2>    

    <form class="row g-3" asp-action="Update">
        <div class="col-md-6">
            <label asp-for="Name" class="form-label">Name</label>
            <input asp-for="Name" type="text" class="form-control" id="name" placeholder="@Model.Name">
        </div>
        <div class="col-md-6">
            <label asp-for="PhoneNumber" class="form-label">Phone Number</label>
            <input asp-for="PhoneNumber" type="text" class="form-control" id="phone-number" value = "@Model.PhoneNumber">
        </div>
        <div class="col-12">
            <label asp-for="Address" class="form-label">Address</label>
            <input asp-for="Address" type="text" class="form-control" id="address" value="@Model.Address">
        </div>
        <div class="col-3" style="top: 15px;">
            <button type="submit" class="btn btn-primary">Update</button>
        </div>
    </form>

</body>
</html>